<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/css/main.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
    <link rel="stylesheet" href="/src/css/dracula.css">
    <link rel="stylesheet" href="/src/css/style.css" />

    
    <title>Stardust</title>
  </head>
  <body class="font-nunito">

    <div class="p-10 my-10">
      <div class="flex  justify-center">
        <ul class="menu">

          <li title="home">
            <a href="#" class="menu-button home">
              <div class="circle_back button-back-xs neum-grey my-4 mx-2">
                <button type="button" class="circle_front button-front-xs neum-grey text-primaryColor text-sm">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="28px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve">  <image id="image0" width="28" height="28" x="0" y="0"
                    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
                AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAWlBMVEUAAAAAvZ8AvaIAvqEA
                v58Av58AvqEAvZ8Av6IAvZ8AvqEAvqEAv58AvaEAvqEAvKEAvaEAv58Au58Av6EAv6AAv6MAv6AA
                vJ8AvaIAv6IAvaIAv6IAvqH///+i3EY+AAAAHHRSTlMAYK+/QBDvgGBw388g0KCggDBAf59Qr1Cf
                n4+PCauY5QAAAAFiS0dEHesDcZEAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfmBwEANQZN
                B47JAAAAwElEQVQoz8WR2RaDMAhEiYSkImrTTdvm/7+zWkHT7bn3aYDByUGA/+EqRDcLb2KFMMRd
                zY2oYCmG2NJs6bB/Cuia4pvqJFuhZr8tWogz4cOamJNJWVumUtbJYUtib3YdHk9fhpRp8QSQGON5
                LiwpxVBNvYiXMHA1jvOjPOvigIpgaLXXFwlKbZdJuTgRNUuqBgnvyx3E39V0uHErrkyvcTL9EvW1
                rcAbVC2v8Xwh+CTmm9A91/AVYWZM8Avn4N88AHJQBvZSzNCBAAAAJXRFWHRkYXRlOmNyZWF0ZQAy
                MDIyLTA3LTAxVDAwOjUzOjA2KzAwOjAwPyqX0wAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wNy0w
                MVQwMDo1MzowNiswMDowME53L28AAAAASUVORK5CYII=" />
                </svg>
                <span class="tooltip">Devices</span>
                </button>
                
              </div>
            </a>
          </li>

          <li title="home">
            <a href="#" class="menu-button home">
              <div class="circle_back button-back-xs neum-grey my-4 mx-2">
                <button type="button" class="circle_front button-front-xs neum-grey text-primaryColor text-sm">
                  bb
                </button>
              </div>
            </a>
          </li>

          <li title="home">
            <a href="#" class="menu-button home">
              <div class="circle_back button-back-xs neum-grey my-4 mx-2">
                <button type="button" class="circle_front button-front-xs neum-grey text-primaryColor text-sm">
                  bb
                </button>
              </div>
            </a>
          </li>

          <li title="home">
            <a href="#" class="menu-button home">
              <div class="circle_back button-back-xs neum-grey my-4 mx-2">
                <button type="button" class="circle_front button-front-xs neum-grey text-primaryColor text-sm">
                  bb
                </button>
              </div>
            </a>
          </li>

          <li title="home">
            <a href="#" class="menu-button home">
              <div class="circle_back button-back-xs neum-grey my-4 mx-2">
                <button type="button" class="circle_front button-front-xs neum-grey text-primaryColor text-sm">
                  bb
                </button>
              </div>
            </a>
          </li>
          
         <!--  <li title="search"><a href="#" class="search">search</a></li>
          <li title="pencil"><a href="#" class="pencil">pencil</a></li>
          <li title="about"><a href="#" class="active about">about</a></li>
          <li title="archive"><a href="#" class="archive">archive</a></li>
          <li title="contact"><a href="#" class="contact">contact</a></li> -->
        </ul>
        
        

      </div>
    </div>

    

   
  </body>
  <script src="/src/js/chroma.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</html>




