<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/css/main.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
    <link rel="stylesheet" href="/src/css/dracula.css">
    <link rel="stylesheet" href="/src/css/style.css" />

    
    <title>Stardust</title>
  </head>
  <body class="font-nunito">

    <div class="p-10 my-10">


      <div class="px-80">
        <div>
          <p class="text-xxxl font-bold text-center">Lorem ipsum dolor sit amet</p>
          <p class="text-xxxl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique venenatis bibendum. Sed lacus eros, ultricies ac sodales eu, pellentesque et enim. Proin mauris dolor, pretium a pulvinar eget, consequat a mi. Nunc in lectus nec ante ultrices blandit. </p>
        </div>
  
        <div class="flex justify-center">
          <div class="highlight">
            <pre class="chroma">
              <code class="language-html">
                &lt;p class="text-xxxl font-bold text-center"&gt;
                &lt!-- content --&gt;
                &lt;/p&gt;
                &lt;p class="text-xxxl"&gt;
                &lt!-- content --&gt;
                &lt;/p&gt;
              </code>
            </pre>
          </div>
        </div>
      </div>
    
      <div class="px-80">
        <div>
          <p class="text-xxl font-bold">Lorem ipsum dolor sit amet</p>
          <p class="text-xxl text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique venenatis bibendum. Sed lacus eros, ultricies ac sodales eu, pellentesque et enim. Proin mauris dolor, pretium a pulvinar eget, consequat a mi. Nunc in lectus nec ante ultrices blandit. </p>
        </div>
  
        <div class="flex justify-center">
          <div class="highlight">
            <pre class="chroma">
              <code class="language-html">
                &lt;p class="text-xxl font-bold"&gt;
                &lt!-- content --&gt;
                &lt;/p&gt;
                &lt;p class="text-xxl text-justify"&gt;
                &lt!-- content --&gt;
                &lt;/p&gt;
              </code>
            </pre>
          </div>
        </div>
      </div>

      <div class="px-80">
        <div>
          <p class="text-xl font-bold">Lorem ipsum dolor sit amet</p>
          <p class="text-xl text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique venenatis bibendum. Sed lacus eros, ultricies ac sodales eu, pellentesque et enim. Proin mauris dolor, pretium a pulvinar eget, consequat a mi. Nunc in lectus nec ante ultrices blandit. </p>
        </div>
  
        <div class="flex justify-center">
          <div class="highlight">
            <pre class="chroma">
              <code class="language-html">
                &lt;p class="text-xl font-bold"&gt;
                &lt!-- content --&gt;
                &lt;/p&gt;
                &lt;p class="text-xl text-right"&gt;
                &lt!-- content --&gt;
                &lt;/p&gt;
              </code>
            </pre>
          </div>
        </div>
      </div>
      
       <div class="px-80">
        <div>
          <p class="text-lg">Lorem ipsum dolor sit amet</p>
          <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique venenatis bibendum. Sed lacus eros, ultricies ac sodales eu, pellentesque et enim. Proin mauris dolor, pretium a pulvinar eget, consequat a mi. Nunc in lectus nec ante ultrices blandit. </p>
        </div>
  
        <div class="flex justify-center">
          <div class="highlight">
            <pre class="chroma">
              <code class="language-html">
                &lt;p class="text-lg"&gt;
                &lt!-- content --&gt;
                &lt;/p&gt;
              </code>
            </pre>
          </div>
        </div>
      </div>


      <div class="px-80">
        <div>
          <p class="text-md">Lorem ipsum dolor sit amet</p>
          <p class="text-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique venenatis bibendum. Sed lacus eros, ultricies ac sodales eu, pellentesque et enim. Proin mauris dolor, pretium a pulvinar eget, consequat a mi. Nunc in lectus nec ante ultrices blandit. Sed sit amet justo lacinia, consectetur nunc eget, pellentesque elit. Vivamus a gravida ipsum. Quisque ut malesuada tortor. Nunc ac dignissim lacus. In commodo lacinia facilisis. Cras quis nunc ac eros vehicula volutpat. </p>
        </div>
  
        <div class="flex justify-center">
          <div class="highlight">
            <pre class="chroma">
              <code class="language-html">
                &lt;p class="text-md"&gt;
                &lt!-- content --&gt;
                &lt;/p&gt;
              </code>
            </pre>
          </div>
        </div>
      </div>
      
      <div class="px-80">
        <div>
          <p class="text-sm">Lorem ipsum dolor sit amet</p>
          <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique venenatis bibendum. Sed lacus eros, ultricies ac sodales eu, pellentesque et enim. Proin mauris dolor, pretium a pulvinar eget, consequat a mi. Nunc in lectus nec ante ultrices blandit. Sed sit amet justo lacinia, consectetur nunc eget, pellentesque elit. Vivamus a gravida ipsum. Quisque ut malesuada tortor. Nunc ac dignissim lacus. In commodo lacinia facilisis. Cras quis nunc ac eros vehicula volutpat. </p>
        </div>
  
        <div class="flex justify-center">
          <div class="highlight">
            <pre class="chroma">
              <code class="language-html">
                &lt;p class="text-sm"&gt;
                &lt!-- content --&gt;
                &lt;/p&gt;
              </code>
            </pre>
          </div>
        </div>
      </div>
      
      <div class="px-80">
        <div>
          <p class="text-xs">Lorem ipsum dolor sit amet</p>
          <p class="text-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tristique venenatis bibendum. Sed lacus eros, ultricies ac sodales eu, pellentesque et enim. Proin mauris dolor, pretium a pulvinar eget, consequat a mi. Nunc in lectus nec ante ultrices blandit. Sed sit amet justo lacinia, consectetur nunc eget, pellentesque elit. Vivamus a gravida ipsum. Quisque ut malesuada tortor. Nunc ac dignissim lacus. In commodo lacinia facilisis. Cras quis nunc ac eros vehicula volutpat. </p>
        </div>
  
        <div class="flex justify-center">
          <div class="highlight">
            <pre class="chroma">
              <code class="language-html">
                &lt;p class="text-xs"&gt;
                &lt!-- content --&gt;
                &lt;/p&gt;
              </code>
            </pre>
          </div>
        </div>
      </div>

    </div>
  

   
  </body>
  <script src="/src/js/chroma.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</html>




