<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/css/main.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
    <link rel="stylesheet" href="/src/css/dracula.css">
    <title>Stardust</title>
  </head>
  <body class="font-nunito">

    <div class="p-10 my-10">
      <div class="">
        <div class="colorBox w-4/4 h-16 bg-primaryColor text-white">
          <div class="py-4 flex justify-around">
            <strong>primaryColor</strong><span>#194352</span>
          </div>
        </div>

        <div class="colorBox w-4/4 h-16 bg-secondaryColor text-white">
          <div class="py-4 flex justify-around">
            <strong>secondaryColor</strong><span>#F8C761</span>
          </div>
        </div>

      <div class="colorBox w-4/4 h-16 bg-greenLight text-white">
        <div class="py-4 flex justify-around">
          <strong>greenLight</strong><span>#78CBBE</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-greenNormal text-white">
        <div class="py-4 flex justify-around">
          <strong>greenNormal</strong><span>#00BEA1</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-greenDark text-white">
        <div class="py-4 flex justify-around">
          <strong>greenDark</strong><span>#006556</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-orangeLight text-white">
        <div class="py-4 flex justify-around">
          <strong>orangeLight</strong><span>#FFBA92</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-orangeNormal text-white ">
        <div class="py-4 flex justify-around">
          <strong>orangeNormal</strong><span>#FEA571</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-orangeDark text-white">
        <div class="py-4 flex justify-around">
          <strong>orangeDark</strong><span>#EA7938</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-pinkLight text-white">
        <div class="py-4 flex justify-around">
          <strong>pinkLight</strong><span>#F39BFF</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-pinkNormal text-white">
        <div class="py-4 flex justify-around">
          <strong>pinkNormal</strong><span>#D266E1</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-pinkDark text-white">
        <div class="py-4 flex justify-around">
          <strong>pinkDark</strong><span>#D049E2</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-blueLight text-white">
        <div class="py-4 flex justify-around">
          <strong>blueLight</strong><span>#699CAC</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-blueNormal text-white">
        <div class="py-4 flex justify-around">
          <strong>blueNormal</strong><span>#154351</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-blueDark text-white">
        <div class="py-4 flex justify-around">
          <strong>blueDark</strong><span>#0C2D37</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-success text-white">
        <div class="py-4 flex justify-around">
          <strong>success</strong><span>#00BEA1</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-danger text-white">
        <div class="py-4 flex justify-around">
          <strong>danger</strong><span>#F55F5F</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-warning text-white">
        <div class="py-4 flex justify-around">
          <strong>warning</strong><span>#FF814B</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-inactive">
        <div class="py-4 flex justify-around">
          <strong>inactive</strong><span>#A7A5A5</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-background">
        <div class="py-4 flex justify-around">
          <strong>background</strong><span>#E8E9EB</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-bgDark text-white">
        <div class="py-4 flex justify-around">
          <strong>bgDark</strong><span>#282936</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-white">
        <div class="py-4 flex justify-around">
          <strong>white</strong><span>#FFFFFF</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-black text-white">
        <div class="py-4 flex justify-around">
          <strong>black</strong><span>#000000</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-grey100">
        <div class="py-4 flex justify-around">
          <strong>grey100</strong><span>#E8E9EB</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-grey200">
        <div class="py-4 flex justify-around">
          <strong>grey200</strong><span>#DBDBDC</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-grey300">
        <div class="py-4 flex justify-around">
          <strong>grey300</strong><span>#CACACC</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-grey400">
        <div class="py-4 flex justify-around">
          <strong>grey400</strong><span>#B4B4B5</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-grey500">
        <div class="py-4 flex justify-around">
          <strong>grey500</strong><span>#A5A5A6</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-grey600">
        <div class="py-4 flex justify-around">
          <strong>grey600</strong><span>#929294</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-grey700 text-white">
        <div class="py-4 flex justify-around">
          <strong>grey700</strong><span>#858585</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-grey800 text-white">
        <div class="py-4 flex justify-around">
          <strong>grey800</strong><span>#6B6A6A</span>
        </div>
      </div>

      <div class="colorBox w-4/4 h-16 bg-grey900 text-white">
        <div class="py-4 flex justify-around">
          <strong>grey900</strong><span>#484847</span>
        </div>
      </div>


















      </div>

    </div>  

   
  </body>
  <script src="/src/js/script.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</html>




