<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/css/main.css" />
    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
    <link rel="stylesheet" href="/src/css/dracula.css">
     <link rel="stylesheet" href="/src/css/style.css" />
    <title>Stardust</title>
  </head>
  <body class="font-nunito">

    <div class="p-10 my-10">

      <div class="flex justify-center">
        <input id="" alt="" type="" name="" placeholder="texto..." class="input w-24 mx-8"/>
      </div>

      <div class="flex justify-center mt-10">
        <div class="highlight">
          <pre class="chroma">
            <code class="language-html">
    &lt;input id="" alt="" type="" name="" placeholder="texto..." class="input w-24"&gt;&lt;/input&gt;
            </code>
          </pre>
        </div>
      </div>

      <div class="flex justify-center">
        <input id="" type="" name="" placeholder="texto..." class="input w-32 mx-8"/>
      </div>

      <div class="flex justify-center mt-10">
        <div class="highlight">
          <pre class="chroma">
            <code class="language-html">
    &lt;input id="" alt="" type="" name="" placeholder="texto..." class="input w-32"&gt;&lt;/input&gt;
            </code>
          </pre>
        </div>
      </div>

      <div class="flex justify-center">
        <input id="" alt="" type="" name="" placeholder="texto..." class="input w-40 mx-8"/>
      </div>

      <div class="flex justify-center mt-10">
        <div class="highlight">
          <pre class="chroma">
            <code class="language-html">
    &lt;input id="" alt="" type="" name="" placeholder="texto..." class="input w-40"&gt;&lt;/input&gt;
            </code>
          </pre>
        </div>
      </div>


      <div class="flex justify-center">
        <input id="" alt="" type="" name="" placeholder="texto..." class="input w-48 mx-8"/>
      </div>

      <div class="flex justify-center mt-10">
        <div class="highlight">
          <pre class="chroma">
            <code class="language-html">
    &lt;input id="" alt="" type="" name="" placeholder="texto..." class="input w-48"&gt;&lt;/input&gt;
            </code>
          </pre>
        </div>
      </div>


      <div class="flex justify-center">
        <input id="" alt="" type="" name="" placeholder="texto..." class="input w-64 mx-8"/>
      </div>

      <div class="flex justify-center mt-10">
        <div class="highlight">
          <pre class="chroma">
            <code class="language-html">
    &lt;input id="" alt="" type="" name="" placeholder="texto..." class="input w-64"&gt;&lt;/input&gt;
            </code>
          </pre>
        </div>
      </div>


      <div class="flex justify-center">
        <input id="" alt="" type="" name="" placeholder="texto..." class="input w-80 mx-8"/>
      </div>

      <div class="flex justify-center mt-10">
        <div class="highlight">
          <pre class="chroma">
            <code class="language-html">
    &lt;input id="" alt="" type="" name="" placeholder="texto..." class="input w-80"&gt;&lt;/input&gt;
            </code>
          </pre>
        </div>
      </div>


      <div class="flex justify-center">
        <input id="" alt="" type="" name="" placeholder="texto..." class="input w-96 mx-8"/>
      </div>

      <div class="flex justify-center mt-10">
        <div class="highlight">
          <pre class="chroma">
            <code class="language-html">
    &lt;input id="" alt="" type="" name="" placeholder="texto..." class="input w-96"&gt;&lt;/input&gt;
            </code>
          </pre>
        </div>
      </div>


      <div class="flex justify-center">
        <input id="" alt="" type="" name="" placeholder="texto..." class="input-normal w-96 mx-8"/>
      </div>

      <div class="flex justify-center mt-10">
        <div class="highlight">
          <pre class="chroma">
            <code class="language-html">
    &lt;input id="" alt="" type="" name="" placeholder="texto..." class="input w-96"&gt;&lt;/input&gt;
            </code>
          </pre>
        </div>
      </div>


      



    </div>  

  </body>
  <script src="/src/js/chroma.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</html>


