<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/css/main.css" />
    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
    <link rel="stylesheet" href="/src/css/dracula.css">
    <title>Stardust</title>
  </head>
  <body class="font-nunito">


    <div id="button" class=" p-4">
            
            <div class="flex  justify-center">
              <button type="button" class="bg-primaryNormal inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0  active:shadow-lg transition duration-150 ease-in-out">
                Button
              </button>
            </div>

            <h2>Basic Code Block</h2>
            <div class="highlight">
              <pre class="chroma">
                <code class="language-html">
                  
                  &lt;button type="button" class="bg-primaryNormal inline-block px-6 py-2.5 bg-blue-600 text-white  
                  font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg 
                  focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0  active:shadow-lg transition 
                  duration-150 ease-in-out"&gt;
                    Button
                  &lt;/button&gt;

                </code>
              </pre>
            </div>

    </div>
    
    
   
  </body>
  <script src="/src/js/script.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</html>


