<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/css/main.css" />
    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
    <link rel="stylesheet" href="/src/css/dracula.css">
     <link rel="stylesheet" href="/src/css/style.css" />
    <title>Stardust</title>
  </head>
  <body class="font-nunito">

    <div class="p-10 my-10">
      <div class="flex justify-center">
        <button type="button" class="button w-24 neum-grey text-primaryColor text-sm mx-8">
          Button
        </button>
        <button type="button" class="button w-32 neum-grey text-primaryColor text-sm mx-8">
          Button
        </button>
        <button type="button" class="button w-48 neum-grey text-primaryColor text-sm mx-8">
          Button
        </button>
      </div>
      <div class="flex justify-center mt-10">
        <div class="highlight">
          <pre class="chroma">
            <code class="language-html">
    &lt;button type="button" class="button w-24 neum-grey text-primaryColor text-sm"&gt;Button&lt;/button&gt;
    &lt;button type="button" class="button w-32 neum-grey text-primaryColor text-sm"&gt;Button&lt;/button&gt;
    &lt;button type="button" class="button w-48 neum-grey text-primaryColor text-sm"&gt;Button&lt;/button&gt;
            </code>
          </pre>
        </div>
      </div>
   

      <div class="flex justify-center">
        <button type="button" class="button w-32 bg-primaryColor text-white text-sm mx-8">
          Button
        </button>
      </div>
      <div class="flex justify-center mt-10">
        <div class="highlight">
          <pre class="chroma">
            <code class="language-html">
    &lt;button type="button" class="button bg-primaryColor text-white text-sm"&gt;Button&lt;/button&gt;
            </code>
          </pre>
        </div>
      </div>
        

      <div class="flex justify-center">
        <button type="button" class="button bg-greenNormal text-white text-sm mx-8">
          Button
        </button>
      </div>
      <div class="flex justify-center mt-10">
        <div class="highlight">
          <pre class="chroma">
            <code class="language-html">
    &lt;button type="button" class="button bg-greenNormal text-white text-sm"&gt;Button&lt;/button&gt;
            </code>
          </pre>
        </div>
      </div>

      <div class="flex justify-center">
        <button type="button" class="button bg-orangeNormal text-white text-sm mx-8">
          Button
        </button>
      </div>
      <div class="flex justify-center mt-10">
        <div class="highlight">
          <pre class="chroma">
            <code class="language-html">
    &lt;button type="button" class="button bg-orangeNormal text-white text-sm"&gt;Button&lt;/button&gt;
            </code>
          </pre>
        </div>
      </div>

      <div class="flex justify-center">
        <button type="button" class="button bg-danger text-white text-sm mx-8">
          Button
        </button>
      </div>
      <div class="flex justify-center mt-10">
        <div class="highlight">
          <pre class="chroma">
            <code class="language-html">
    &lt;button type="button" class="button bg-danger text-white text-sm"&gt;Button&lt;/button&gt;
            </code>
          </pre>
        </div>
      </div>

      <div class="flex justify-center">
        <button type="button" class="button w-250 bg-pinkNormal text-white text-sm mx-8">
          Button
        </button>
      </div>
      <div class="flex justify-center mt-10">
        <div class="highlight">
          <pre class="chroma">
            <code class="language-html">
    &lt;button type="button" class="button bg-pinkNormal text-white text-sm"&gt;Button&lt;/button&gt;
            </code>
          </pre>
        </div>
      </div>



    </div>  

    

  </body>
  <script src="/src/js/chroma.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</html>


