<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/css/main.css" />
    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
    <link rel="stylesheet" href="/src/css/dracula.css">
     <link rel="stylesheet" href="/src/css/style.css" />
    <title>Stardust</title>
  </head>
  <body class="font-nunito">


    <div class="p-10 my-8">
      <div class="flex justify-center">

        <div class="circle_back button-back-lg neum-grey mx-8">
          <button type="button" class="circle_front button-front-lg neum-grey text-primaryColor text-sm">
            Button
          </button>
        </div>
        

        <div class="circle_back button-back-sm neum-grey mx-8">
          <button type="button" class="circle_front button-front-sm neum-grey text-primaryColor text-sm">
            BB
          </button>
        </div>

        <div class="circle_back button-back-xs neum-grey mx-8">
          <button type="button" class="circle_front button-front-xs neum-grey text-primaryColor text-sm">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="28px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve">  <image id="image0" width="28" height="28" x="0" y="0"
              href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
          AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAWlBMVEUAAAAAvZ8AvaIAvqEA
          v58Av58AvqEAvZ8Av6IAvZ8AvqEAvqEAv58AvaEAvqEAvKEAvaEAv58Au58Av6EAv6AAv6MAv6AA
          vJ8AvaIAv6IAvaIAv6IAvqH///+i3EY+AAAAHHRSTlMAYK+/QBDvgGBw388g0KCggDBAf59Qr1Cf
          n4+PCauY5QAAAAFiS0dEHesDcZEAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfmBwEANQZN
          B47JAAAAwElEQVQoz8WR2RaDMAhEiYSkImrTTdvm/7+zWkHT7bn3aYDByUGA/+EqRDcLb2KFMMRd
          zY2oYCmG2NJs6bB/Cuia4pvqJFuhZr8tWogz4cOamJNJWVumUtbJYUtib3YdHk9fhpRp8QSQGON5
          LiwpxVBNvYiXMHA1jvOjPOvigIpgaLXXFwlKbZdJuTgRNUuqBgnvyx3E39V0uHErrkyvcTL9EvW1
          rcAbVC2v8Xwh+CTmm9A91/AVYWZM8Avn4N88AHJQBvZSzNCBAAAAJXRFWHRkYXRlOmNyZWF0ZQAy
          MDIyLTA3LTAxVDAwOjUzOjA2KzAwOjAwPyqX0wAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wNy0w
          MVQwMDo1MzowNiswMDowME53L28AAAAASUVORK5CYII=" />
          </svg>
          </button>
        </div>

      </div>

      <div class="flex justify-center mt-10">
        <div class="highlight">
          <pre class="chroma">
            <code class="language-html"> 
    //lg
    &lt;div class="circle_back button-back-lg neum-grey mx-8"&gt;
      &lt;button type="button" class="circle_front button-front-lg neum-grey text-primaryColor text-sm"&gt;
        Button
      &lt;/button&gt;
    &lt;/div&gt;


    //sm
    &lt;div class="circle_back button-back-sm neum-grey mx-8"&gt;
      &lt;button type="button" class="circle_front button-front-sm neum-grey text-primaryColor text-sm"&gt;
        BB
      &lt;/button&gt;
    &lt;/div&gt;

    //xs
    &ltdiv class="circle_back button-back-xs neum-grey mx-8"&gt;
      &lt;button type="button" class="circle_front button-front-xs neum-grey text-primaryColor text-sm"&gt;
        &lt;svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="28px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve">  <image id="image0" width="28" height="28" x="0" y="0"
            href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
        AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAWlBMVEUAAAAAvZ8AvaIAvqE
        v58Av58AvqEAvZ8Av6IAvZ8AvqEAvqEAv58AvaEAvqEAvKEAvaEAv58Au58Av6EAv6AAv6MAv6AA
        vJ8AvaIAv6IAvaIAv6IAvqH///+i3EY+AAAAHHRSTlMAYK+/QBDvgGBw388g0KCggDBAf59Qr1Cf
        n4+PCauY5QAAAAFiS0dEHesDcZEAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfmBwEANQZN
        B47JAAAAwElEQVQoz8WR2RaDMAhEiYSkImrTTdvm/7+zWkHT7bn3aYDByUGA/+EqRDcLb2KFMMRd
        zY2oYCmG2NJs6bB/Cuia4pvqJFuhZr8tWogz4cOamJNJWVumUtbJYUtib3YdHk9fhpRp8QSQGON5
        LiwpxVBNvYiXMHA1jvOjPOvigIpgaLXXFwlKbZdJuTgRNUuqBgnvyx3E39V0uHErrkyvcTL9EvW1
        rcAbVC2v8Xwh+CTmm9A91/AVYWZM8Avn4N88AHJQBvZSzNCBAAAAJXRFWHRkYXRlOmNyZWF0ZQAy
        MDIyLTA3LTAxVDAwOjUzOjA2KzAwOjAwPyqX0wAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wNy0w
        MVQwMDo1MzowNiswMDowME53L28AAAAASUVORK5CYII=" >
        &lt;/svg&gt;
      &lt;/button&gt;
    &lt;/div&gt;
            </code>
          </pre>
        </div>
      </div>

    <div class="p-10 my-8">
      <div class="flex justify-center">
        <button type="button" class="button w-24 button-grey text-primaryColor text-sm mx-8">
          Button
        </button>
        <button type="button" class="button w-32 button-grey text-primaryColor text-sm mx-8">
          Button
        </button>
        <button type="button" class="button w-48 button-grey text-primaryColor text-sm mx-8">
          Button
        </button>
      </div>
      <div class="flex justify-center mt-10">
        <div class="highlight">
          <pre class="chroma">
            <code class="language-html">
    &lt;button type="button" class="button w-24 neum-grey text-primaryColor text-sm"&gt;Button&lt;/button&gt;
    &lt;button type="button" class="button w-32 neum-grey text-primaryColor text-sm"&gt;Button&lt;/button&gt;
    &lt;button type="button" class="button w-48 neum-grey text-primaryColor text-sm"&gt;Button&lt;/button&gt;
            </code>
          </pre>
        </div>
      </div>
   

      <div class="flex justify-center">
        <button type="button" class="button w-32 bg-primaryColor text-white text-sm mx-8">
          Button
        </button>
      </div>
      <div class="flex justify-center mt-10">
        <div class="highlight">
          <pre class="chroma">
            <code class="language-html">
    &lt;button type="button" class="button bg-primaryColor text-white text-sm"&gt;Button&lt;/button&gt;
            </code>
          </pre>
        </div>
      </div>

      <div class="flex justify-center">
        <button type="button" class="button bg-greenNormal text-white text-sm mx-8">
          Button
        </button>
      </div>
      <div class="flex justify-center mt-10">
        <div class="highlight">
          <pre class="chroma">
            <code class="language-html">
    &lt;button type="button" class="button bg-greenNormal text-white text-sm"&gt;Button&lt;/button&gt;
            </code>
          </pre>
        </div>
      </div>

      <div class="flex justify-center">
        <button type="button" class="button bg-orangeNormal text-white text-sm mx-8">
          Button
        </button>
      </div>
      <div class="flex justify-center mt-10">
        <div class="highlight">
          <pre class="chroma">
            <code class="language-html">
    &lt;button type="button" class="button bg-orangeNormal text-white text-sm"&gt;Button&lt;/button&gt;
            </code>
          </pre>
        </div>
      </div>

      <div class="flex justify-center">
        <button type="button" class="button bg-danger text-white text-sm mx-8">
          Button
        </button>
      </div>
      <div class="flex justify-center mt-10">
        <div class="highlight">
          <pre class="chroma">
            <code class="language-html">
    &lt;button type="button" class="button bg-danger text-white text-sm"&gt;Button&lt;/button&gt;
            </code>
          </pre>
        </div>
      </div>

      <div class="flex justify-center">
        <button type="button" class="button w-250 bg-pinkNormal text-white text-sm mx-8">
          Button
        </button>
      </div>
      <div class="flex justify-center mt-10">
        <div class="highlight">
          <pre class="chroma">
            <code class="language-html">
    &lt;button type="button" class="button bg-pinkNormal text-white text-sm"&gt;Button&lt;/button&gt;
            </code>
          </pre>
        </div>
      </div>

    </div>  

  </body>
  <script src="/src/js/chroma.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</html>


