<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/css/main.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
    <link rel="stylesheet" href="/src/css/dracula.css">

    
    <title>Stardust</title>
  </head>
  <body class="font-nunito">

    <div class="p-10 my-10">
      <div class="flex  justify-center">
        <div class="greyBox">
        </div>
      </div>

      <div class="flex justify-center mt-10">
        <div class="highlight">
          <pre class="chroma">
            <code class="language-html">
              &lt;div class="greyBox"&gt;
              &lt!-- content --&gt;
              &lt;/div&gt;
            </code>
          </pre>
        </div>
      </div>
    </div>  

   
  </body>
  <script src="/src/js/chroma.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</html>




